* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --transiton: transform 0.3s cubic-bezier(.075, 0.5, 0, 1)
}

body {
   background-color: #000000;
   color: white;
   font-family: Poppins;
   font-weight: 500;
   overflow-x: hidden;
}

.header {
   min-height: 100vh;
   position: relative;
}

.header::after {
   content: '';
   background: black;
   width: 100%;
   height: 100px;
   filter: blur(22px);
   position: absolute;
   bottom: -56px;
   z-index: 3;
}

.header__text {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: absolute;
   width: 100%;
   height: 100%;
   flex-direction: column;
   z-index: 1;
   transform: translate3d(0, calc(var(--ScrollTop) / 5), 0);
   transition: var(--transiton);
   font-weight: 800;
}

.header-text {}

.header-text__subtitle {
   line-height: 1;
   font-size: 36px;
   letter-spacing: 3px;
   text-shadow: 0 0 15px #7e6100;
}

.header-text__title {
   font-size: 55px;
   letter-spacing: 3px;
   text-shadow: 0 0 15px #7e6100;
}

.header__leyers {
   overflow: hidden;
}

.header__layer {
   width: 100%;
   height: 100%;
   position: absolute;
   background-position: center !important;
   background-size: cover !important;
   will-change: transform;
   transition: var(--transiton);
}

.header__layer-1 {
   transform: translate3d(0, calc(var(--ScrollTop) / 4), 0);
}

.header__layer-2 {
   transform: translate3d(0, calc(var(--ScrollTop) / 4), 0);
   z-index: 2;
}

.header__layer-3 {
   transform: translate3d(0, calc(var(--ScrollTop) / 3.7), 0);
}

.header__layer-4 {
   transform: translate3d(0, calc(var(--ScrollTop) / 7), 0);
   z-index: 1;
}

.header__layer-5 {
   transform: translate3d(0, calc(var(--ScrollTop) / 4), 0);
   z-index: 2;
}

.main-body {
   position: relative;
   min-height: 100vh;
   z-index: 2;
}

.main-body__bakground {
   width: 100%;
   height: 100%;
   position: absolute;
   background-position: center !important;
   background-size: cover !important;
}

.main-body__texts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 100%;
   position: absolute;
   margin-top: -100px;
   z-index: 2;
}

.main-body__title {
   font-size: 54px;
   text-shadow: 0 0 15px #cc88e4;
   transform: translate3d(0, calc(var(--ScrollTop) / 6), 0);
   transition: var(--transiton);
}

.main-body__text {
   text-shadow: 0 0 3px #cc88e4;
   max-width: 900px;
   line-height: 1.8;
   transform: translate3d(0, calc(var(--ScrollTop) / 6), 0);
   transition: var(--transiton);
}

.content {
   will-change: transform;
}